<!DOCTYPE html>
<html>
<head>
    <title>Add Sport</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <a href='/' class='back-arrow'>
        <i class="fa-solid fa-arrow-left"></i>
    </a>
    <a href="/profile" class="profile-icon">
        <i class="fa-solid fa-user"></i>
        <span class="tooltip">Profile</span>
    </a>
    <div class="form-container">
        <h1>Add Sport</h1>
        <form method="POST" action="/add_sport">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="venue">Venue:</label>
                <input type="text" id="venue" name="venue" required>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" required>
            </div>
            <button type="submit">Add Sport</button>
        </form>
    </div>
</body>
</html>