<!DOCTYPE html>
<html>
<head>
    <title>Run Club</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <h1>Welcome to Runclub!</h1>
    <a href="/profile" class="profile-icon">
        <i class="fa-solid fa-user"></i>
        <span class="tooltip">Profile</span>
    </a>

    <div class="menu-container">
        <i class="fa-solid fa-bars menu-icon"></i>
        <ul class="menu-list">
            <li><a href="/runs">Runs</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/sports">Sports</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const menuIcon = document.querySelector(".menu-icon");
            const menuList = document.querySelector(".menu-list");

            // Toggle menu visibility on icon click
            menuIcon.addEventListener("click", function() {
                menuList.classList.toggle("show-menu");
            });
        });
    </script>


    </body>
</html>
