<!DOCTYPE html>
<html>
<head>
    <title>Payments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <div class="payments-container">
        <h1>Event Payments</h1>
        <div class="event-list">
            {% for event in events %}
            <div class="event-box">
                <h2>{{ event.name }}</h2>
                <p>Price: ${{ event.price }}</p>
                <div class="payment-options">
                    <a href='payment_methods' class="pay-button">Pay</a>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>