<!DOCTYPE html>
<html>
<head>
    <title>Run Club</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <div class="container">
        <a href="/" class="back-arrow">
            <i class="fas fa-arrow-left"></i> 
        </a>
        <h1>Profile</h1>
        <div class="profile-photo">
            {% if profile and profile.photo %}
                <img src="{{ url_for('static', filename=profile.photo) }}" alt="Profile Photo">
            {% else %}
                <p>No profile photo available.</p>
            {% endif %}
        </div>
        <div class="profile-info">
            <p><strong>Username:</strong> {{ username }}</p>
            <p><strong>Name:</strong> {{ profile.name }}</p>
            <p><strong>Date of Birth:</strong> {{ profile.dob }}</p>
            <p><strong>Instagram:</strong> {{ profile.instagram }}</p>
            <p><strong>Bio:</strong> {{ profile.bio }}</p>
        </div>
    </div>
</body>
</html>
