<!DOCTYPE html>
<html>
<head>
    <title>Runs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    
    
</head>
<body>
    <a href='/' class='back-arrow'>
        <i class="fa-solid fa-arrow-left"></i>
    </a>
    <a href="/profile" class="profile-icon">
        <i class="fa-solid fa-user"></i>
        <span class="tooltip">Profile</span>
    </a>
    <h1>Runs</h1>
    
    <div class="runs-container">
        {% for run in runs %}
            <div class="run-box">
                <h2>Week {{ run.week }}</h2>
                <p>Theme: {{ run.theme }}</p>
                <p>Time: {{ run.time }}</p>
                <p>Place: {{ run.place }}</p>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>
